@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 400;
  src: local('Volkhov Regular'), local('Volkhov-Regular'), url(http://fonts.gstatic.com/s/volkhov/v8/7YA5GpHg48S818VCt31NAA.woff2) format('woff2');
}
